.top-bar {
  width: 100%;
  height: 10vh; 
  color: white;
  text-align: center;
  font-size: 2rem;
  font-family: 'Arcade', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid var(--white);
  border-bottom: none;
  flex-shrink: 0; 

  /* border: 2px solid pink; */


}

.topbar-name-wrapper-left{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 10vh;
  padding-bottom: 1rem;

  /* border: 2px solid pink; */
}

.topbar-name-wrapper-right{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 10vh;
  padding-bottom: 1rem;

  /* border: 2px solid pink; */
}

.player-1-container{
  display: flex;
  flex-direction: column;
  
  
  height: 4rem;
  gap: 1.5vh;
  width: auto;
 
  margin-left: 3vw;
  

  /* border: 2px solid pink;  */
}

.player-2-container{
  display: flex;
  flex-direction: column;
  
  
  height: 4rem;
  gap: 1.5vh;
  width: auto;
 
  margin-right: 3vw;
 /*  border: 2px solid pink;  */
}

.player1-name{
  font-size: 2rem;
  text-align: left;
}

.player2-name{
  font-size: 2rem;
  text-align: right;
}

.player1-score {
  font-size: 2rem;
  text-align: left;
 
}

.player2-score {
  font-size: 2rem;
  text-align: right;
}


.joycon-icon-left {
  position: fixed;
  
  font-size: 1.2em;
  width: 4rem;
  height: 4rem;

  /* border: 2px solid pink;  */
}

.joycon-icon-right{
  position: fixed;
  
  font-size: 1.2em;
  width: 4rem;
  height: 4rem;     
  /* / border: 2px solid pink;  */
}


.timer-display h3 {
  position: absolute;
  color: var(--white);
  font-size: 3rem;
  left: 50%;
  top: 0.5rem;
  transform: translateX(-50%);
  text-align: center;
  
  /* border: 2px solid pink; */
}
@media (min-width: 3000px) {
  .player1-name, .player1-score{
    font-size: 2.2rem;
    margin-left: -2rem;
  }
  .player2-name, .player2-score{
    font-size: 2.2rem;
    margin-right: -2rem;
  }
  .joycon-icon-left {
    margin-top: 1rem;
    width: 5rem;
    height: 5rem;
  }
  .joycon-icon-right {
    margin-top: 1rem;
    width: 5rem;
    height: 5rem;
  }
  .timer-display h3 {
    font-size: 3.2rem;
  }
}

@media (max-width: 2800px) {
  .player1-name .player1-score{
    margin-top: 0.5rem;
    font-size: 1.8rem;
    margin-left: -1rem;
  }
  .player2-name .player2-score{
    margin-top: 0.5rem;
    font-size: 1.8rem;
    margin-right: -1rem;
  } 
  .joycon-icon-left {
    margin-top: 1rem;
    width: 5rem;
    height: 5rem;
  }
  .joycon-icon-right {
    margin-top: 1rem;
    width: 5rem;
    height: 5rem;
  }
  .timer-display h3 {
    font-size: 2.8rem;
  }
  
}

/* ──────────────────────────────────────────────────────────────────────────
// TABLETS/DESKTOPS
// ────────────────────────────────────────────────────────────────────────-*/
@media (max-width: 2000px) {
  .player1-name, .player1-score{
    margin-top: 0.5rem;
    font-size: 1.6rem;
    margin-left: 0.2rem;
  }
  .player2-name, .player2-score{
    margin-top: 0.5rem;
    font-size: 1.6rem;
    margin-right: 0.2rem;
  }
  .timer-display h3 {
    font-size: 2.6rem;
  }
}

@media (max-width: 1800px) {
  .player1-name, .player1-score{
    margin-top: 0.5rem;
    font-size: 1.6rem;
    margin-left: 1rem;
  }
  .player2-name, .player2-score{
    margin-top: 0.5rem;
    font-size: 1.6rem;
    margin-right: 1rem;
  }
  .timer-display h3 {
    font-size: 2.6rem;
  }
}

/* ──────────────────────────────────────────────────────────────────────────
// LARGE PHONES
// ────────────────────────────────────────────────────────────────────────-*/
@media (max-width: 1300px) {
  .player1-name, .player1-score{
    margin-top: 0.5rem;
    font-size: 1.4rem;
    margin-left: 1.2rem;
  }
  .player2-name, .player2-score{
    margin-top: 0.5rem;
    font-size: 1.4rem;
    margin-right: 1.2rem;
  }
  .timer-display h3 {
    font-size: 2.4rem;
  }
}
/* ──────────────────────────────────────────────────────────────────────────
// MEDIUM PHONES
// ────────────────────────────────────────────────────────────────────────-*/
@media (max-width: 1200px) {
  .player1-name, .player1-score{
    margin-top: 0.5rem;
    font-size: 1.1rem;
    margin-left: 0.8rem;
  }
  .player2-name, .player2-score{
    margin-top: 0.5rem;
    font-size: 1.1rem;
    margin-right: 0.8rem;
    }
  .joycon-icon-left {
    width: 3rem;
    height: 3rem;
  }
  .joycon-icon-right {
    width: 3rem;
    height: 3rem;
  }
  .timer-display h3 {
    font-size: 2.1rem;
  }
}

@media (max-width: 900px) {
  .player1-name, .player1-score{
    margin-top: 0.5rem;
    font-size: 0.9rem;
    margin-left: 0.8rem;
  }
  .player2-name, .player2-score{
    margin-top: 0.5rem;
    font-size: 0.9rem;
    margin-right: 0.8rem;
    }
  .joycon-icon-left {
    width: 3rem;
    height: 3rem;
  }
  .joycon-icon-right {
    width: 3rem;
    height: 3rem;
  }
  .timer-display h3 {
    font-size: 1.9rem;
  }
}

@media (max-width: 700px) {
  .player1-name, .player1-score{
    margin-top: 0.5rem;
    font-size: 0.6rem;
    margin-left: 2rem;
  }
  .player2-name, .player2-score{
    margin-top: 0.5rem;
    font-size: 0.6rem;
    margin-right: 2rem;
  }
  .joycon-icon-left {
    width: 3rem;
    height: 3rem;
  }
  .joycon-icon-right {
    width: 3rem;
    height: 3rem;
  }
  .timer-display h3 {
    font-size: 1rem;
  }
}



