.login-parent{
    height: 100%;
    width: 100%;
    
    
    
}

.login-login-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    width: 20%;
    max-width: 90%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: var(--white);
    padding: 2rem 1rem;
    
    box-shadow: 0 0 0 4px #000, 0 0 0 8px #555;
    /* overflow: auto; */
    /* border: 2px solid pink; */
    
}


.login-logo{
    display: block;
    width: 58vw !important;
    height: 16vh !important;
    object-fit: contain;
    padding: 1rem;
    image-rendering: pixelated;
    border-radius: 0.8rem;
    background-color: var(--blue);
    margin-bottom: 0rem !important;
    margin-top: 1rem;

    /* border: 2px solid pink; */
}




.login-login-text{
    color: var(--orange);
    padding: 1rem;
    height: auto;
    line-height: 1.3;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0vh !important;

    /* border: 2px solid pink; */
}




.login-e-mail{
    color: var(--white);
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 2vh;


    /* border: 2px solid pink; */
    
}

.login-e-mail input{
    width: 17rem;
    padding: 0.75rem 0.5rem;
    margin-bottom: 1rem;
   /*  margin-left: auto;
    margin-right: auto; */
    margin-top: 0.5rem;
    border: 3px solid black;
    color: var(--orange);
    font-family: 'arcade';
    font-size: 16px;
    height: 50px;
    outline: none;
    display: block;
}

.login-continue-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
   
}



.login-continue-button{
    background-color: rgb(237, 236, 237);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: var(--white); */
    padding: 1rem;
    width: 17rem;
    height: auto;
    min-height: 1.5rem;
    cursor: pointer;
    /* margin: 1rem auto; */
    text-align: center;
    border: 4px solid black;
    font-family: 'arcade';
   /*  margin-top: 1rem; */
    margin-bottom: 2rem;

    /* border: 2px solid pink; */
    
}

.login-sign-up-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    width: 100%;
    
    margin-bottom: 1rem;
    gap: 0.5rem;
    /* border: 2px solid pink; */
}

.login-sign-up-container p{
    font-size: 0.7rem;
    margin: 0;

    
}

.login-sign-up-link{
  /*   display: flex;
    flex-direction: row; */
    /* width:  7rem; */
    margin-top: 1px;
    font-size: 0.9rem;
    text-decoration: underline;
    color: var(--orange);
}



/* Mobile styles */
@media (max-width: 470px) {
    .login-login-wrapper {
        width: 100%;
        height: auto;
        padding: 2rem;
    }
    
    .login-logo {
        width: 2rem;
        height: 10rem;
        padding: 1rem;
        margin-top: 0.5rem;
    }


    .login-e-mail input{
        height: 3rem;
        font-size: 12px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
       
    }

    .login-continue-button{
       
        height: 4rem;
        /* border: 2px solid pink; */
        
    }

    .login-sign-up-link{
        
          margin-top: 2px;
          
      }

   
}


@media (min-width: 1024px) {
    .login-logo{
        display: block;
        width: 17vw !important;
        height: 14vh !important;
        object-fit: contain;
        padding: 2rem;
        image-rendering: pixelated;
        border-radius: 0.8rem;
        background-color: var(--blue);
        margin-bottom: 0rem !important;
        margin-top: 0vh;
    
        /* border: 2px solid pink; */
    

    }



}

