.sign-up-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    width: 20%;
    max-width: 90%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: var(--white);
    padding: 2rem 1rem;
    /* border: 2px solid pink; */
}


.logo{
    display: block;
    width: 58vw !important;
    height: 16vh !important;
    object-fit: contain;
    padding: 2rem;
    image-rendering: pixelated;
    border-radius: 0.8rem;
    background-color: var(--blue);
    margin-bottom: 0rem !important;
    margin-top: 1rem;

    /* border: 2px solid pink; */

}

.text{
    color: var(--orange);
    padding: 1rem;
    height: auto;
    line-height: 1.3;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0vh !important;

    /* border: 2px solid pink; */
}

/* .form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

input{
    width: 80%;
    padding: 0.75rem 0.5rem;
    margin-bottom: 1rem;
   /*  margin-left: auto;
    margin-right: auto; */
    margin-top: 0.5rem;
    border: 3px solid black;
    color: var(--orange);
    font-family: 'arcade';
    font-size: 0.9rem;
    outline: none;
    display: block;
    
}

input::placeholder {
    font-family: 'arcade';
  }

.nickname{
    color: var(--white);
    display: flex;
    justify-content: center;
    width: 100%;
    
}

.e-mail{
    color: var(--white);
    display: flex;
    justify-content: center;
    width: 100%;
    
}

.signup-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.signup-button{
    background-color: rgb(237, 236, 237);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: var(--white); */
    padding: 1rem;
    width: 85%;
    height: auto;
    min-height: 1.5rem;
    cursor: pointer;
    /* margin: 1rem auto; */
    text-align: center;
    border: 4px solid black;
    font-family: 'arcade';
   /*  margin-top: 1rem; */
    margin-bottom: 2vh;

    /* border: 2px solid pink; */
    
}





/* Mobile styles */
@media (max-width: 470px) {
    .sign-up-wrapper {
        width: 100%;
        height: auto;
        padding: 2rem;
    }
    
    .logo {
        width: 2rem;
        height: 10rem;
        padding: 1rem;
        margin-top: 0.5rem;
    }
    
   /*  .text {
        padding: 0.75rem;
        font-size: 0.9rem;
    }
    
    input {
        width: 90%;
        font-size: 0.85rem;
    }
    
    .signup-button {
        width: 90%;
        font-size: 0.85rem;
    } */
} 

/* Extra small screens */
/* @media (max-width: 376px) {
    .sign-up-wrapper {
        width: 95%;
        padding: 0.75rem;
        height: 80vh;
    }
    
    .logo {
        width: 8rem;
        height: 4.5rem;
    }
    
    .text {
        padding: 0.5rem;
        font-size: 0.8rem;
    }
    
    .login-container {
        flex-direction: column; 
    }
} */

 @media (min-width: 1024px) {
    .logo{
        display: block;
        width: 17vw !important;
        height: 14vh !important;
        object-fit: contain;
        padding: 2rem;
        image-rendering: pixelated;
        border-radius: 0.8rem;
        background-color: var(--blue);
        margin-bottom: 0rem !important;
        margin-top: 0vh;
    
        /* border: 2px solid pink; */
    
    }
   
} 